.banner {
  background-size: cover;
  background-position: center;
  padding: 0 0 80px 0;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container-banner {
  margin: 0 200px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  padding-top: 50px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding-bottom: 0;
}

.banner-top-div {
  margin-bottom: 40px;
}

.banner-bottom-div {
  margin-top: 15px;
  display: flex;
  transition-duration: 0.2s;
}

*, *::before, *::after { box-sizing: border-box; }

.product-search {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  height: 70px;
}

.banner form {
  display: flex;
  flex-grow: 2;
  border-radius: 32px;
  padding-left: 5px;
  margin-right: 20px;
  background-color: white;
  opacity: 0.85;
  height: 67px;
}

.search-label {
  font-weight: 700;
  padding-left: 25px;
  padding-top: 7px;
  font-size: 15px;
  line-height: 1.5em;

}

#address-input {
  border: none;
  appearance: none;
  outline: none;
  width: 600px;
  height: 60px;
  background-color: rgba(0,0,0,0);
  padding-left: 25px;
  font-size: 15px;
}

.banner-bottom-div:hover .search-button {
  transform: rotate(180deg);
  font-size: 45px;
}

.search-button {
  background-color: rgba(0,0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  border: none;
  background-color: rgb(236,61,97);
  font-size: 30px;
  height: 67px;
  width: 67px;
  color: white;
  transition-duration: 0.3s;
}



@media (max-width:1000px){
        .container-banner {
        margin: 0px auto;
        width: 600px;
}
}
