.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  width: 600px;
  border-radius: 7px;
}

.booking-cards {
  margin: 40px auto;
}

.card-product img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding: 16px;
  width: 400px;
  flex-grow: 1;
}

.card-product-icons {
  margin: 16px 16px 16px 0;
  width: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .booking-delete {
    color: grey;
    width: 20px;
  }
  .booking-edit {
    color: grey;
    width: 20px;
  }
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 4px 12px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
