<h1>New Bookings </h1>

<% simple_form_for [@creature, @booking] do |f| %>
  <%= f.input :start_date, as: :bootstrap_datepicker %>
  <%= f.input :end_date, as: :bootstrap_datepicker %>
  <%= f.button :submit %>
<% end %>
