<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534447677768-be436bb09401?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1371&q=80);">
  <div class="container-banner">
    <div class="banner-top-div">
      <h1>Do you <strong>believe</strong> in <strong>magic</strong>?</h1>
      <p>Discover the real world of fanstasy.</p>
    </div>
    <div class="banner-bottom-div">
      <div class="search-element">
        <%= form_tag creatures_index_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            id: "address-input",
            placeholder: "Type your location here...."
          %>
      </div>
          <%= submit_tag "✦", class: "search-button" %>
        <% end %>
    </div>
  </div>
</div>
