<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1484100356142-db6ab6244067?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=962&q=80);">
  <div class="container-banner">
  <div class="banner-top-div">
    <h1>Do you<strong>believe</strong> in <strong>magic</strong>.</h1>
    <p>Discover the real world of fanstasy.</p>
  </div>
  <div class="banner-bottom-div">
      <form action="" method="get">
        <div class="product-search">
          <%# <div class="search-element">
            <label class="search-label">Type of creature?</label>
            <input class="search-input" type="text" autocomplete="on" placeholder="Mermaid" name="query">
          </div> %>
          <div class="search-element">
            <label class="search-label">Where are you going?</label>
            <input class="search-input" type="text" placeholder="Eiffel Tower" class="" autocomplete="on" name="location">
        </div>
        <a type="submit" class="search-button">Search</a>
      </div>
    </form>
  </div>
  </div>
</div>
