<%# CARD TYPE %>
<%# 4 cards per line max%>

  <%# <div class="cards"> %>
    <%= link_to root_path do %>
      <div class="card-type" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/random)">
        <h1>Dragons</h1>
      </div>
    <% end %>
  <%# </div> %>

<%# CARD POWER %>
<%# 4 cards per line max%>

  <%# <div class="cards"> %>
    <%= link_to root_path do %>
      <div class="card-power">
        <img src="https://source.unsplash.com/random" />
        <div class="card-product-infos">
          <h2>Power </h2>
          <p>Product description with <strong>relevant info</strong></p>
        </div>
      </div>
    <% end %>
  <%# </div> %>

<%# CARD CREATURE %>
<%# 4 cards per line max%>

  <%# <div class="cards"> %>
    <%= link_to root_path do %>
      <div class="card-creature">
      <img src="https://source.unsplash.com/random" alt="">
        <h1>Carole the unicorn</h1>
        <p>Hello, I live in the coutryside and love outdoors so call be if you want to go on a hive of something</p>
        <div class="card-bottom">
          <h1>2,6 ⭐️</h1>
          <h1>45$ <small>per day</small></h1>
        </div>
      </div>
    <% end %>
  <%# </div> %>
