.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.two-columns-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 40px;
}

.two-columns-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.right-block {
  display: block;
  justify-content: center;
  align-items: center;
}

.page-creature {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

// Smallest device
@media (min-width: 400px) and (max-width: 676px) {
  .cards, .page-creature {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 676px) {
  .cards, .page-creature {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 828px) {
  .cards, .page-creature {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards, .page-creature {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px) {
  .cards, .page-creature {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
