.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body {
  background-color: white;
}
